## Python Programming With Data Science

In [3]:
data="Wrlcome to Data Science"
print(type(data))

<class 'str'>

In [5]:
n=int(input())
l=[]
for i in range(n):
    l.append(i)
print(l)

6
[0, 1, 2, 3, 4, 5]

In [9]:
from random import randint
lb=int(input())
ub=int(input())
list1=[]
for i in range(lb,ub):
    list1.append(i)
list1

1
10

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list2=[16,67,46,75,34,24,35]
print(type(list2),list2)

<class 'list'> [16, 67, 46, 75, 34, 24, 35]

In [17]:
list2.append(40)
list2

[16, 67, 46, 75, 34, 24, 35, 40]

In [18]:
for i in list2:
    print(i,end=" ")

16 67 46 75 34 24 35 40

In [21]:
j=0
while(j!=len(list2)):
    print(list2[j])
    j+=1

16
67
46
75
34
24
35
40

In [23]:
list2.sort()
list2

[16, 24, 34, 35, 40, 46, 67, 75]

In [24]:
data

'Wrlcome to Data Science'

In [25]:
data[::-1]

'ecneicS ataD ot emoclrW'

In [26]:
data[0::]

'Wrlcome to Data Science'

In [28]:
data[0:10]

'Wrlcome to'

In [29]:
data[10::]

' Data Science'

In [30]:
data[-1::]

'e'

In [31]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list2

[16, 24, 34, 35, 40, 46, 67, 75]

In [33]:
list3=list1+list2
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 16, 24, 34, 35, 40, 46, 67, 75]

In [34]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list2

[16, 24, 34, 35, 40, 46, 67, 75]

In [40]:
l=[20,30,40]
l2=[21,31,41]
for i in range(0,len(l)):
    res=l[i]+l2[i]
    print(res)

41
61
81

In [42]:
sample=[40]*3
sample

[40, 40, 40]

In [44]:
i in sample

False

In [45]:
fn="Archana"
ln="Elisala"
res=fn+' '+ln
res

'Archana Elisala'

## Dictionaries

In [52]:
sample_data={'archana':'archanaelisala@gmail.com','anu':'archanaanu@gmail.com','chinnu':'anuchinnu@gmail.com'}
sample_data

{'archana': 'archanaelisala@gmail.com',
 'anu': 'archanaanu@gmail.com',
 'chinnu': 'anuchinnu@gmail.com'}

In [48]:
sample_data['chinnu']

'anuchinnu@gmail.com'

In [58]:
for name in sample_data:
    print(name)

sample_data.keys()

archana
anu
chinnu

dict_keys(['archana', 'anu', 'chinnu'])

In [59]:
sample_data.values()

dict_values(['archanaelisala@gmail.com', 'archanaanu@gmail.com', 'anuchinnu@gmail.com'])

In [60]:
sample_data.items()

dict_items([('archana', 'archanaelisala@gmail.com'), ('anu', 'archanaanu@gmail.com'), ('chinnu', 'anuchinnu@gmail.com')])

In [62]:
for name,email in sample_data.items():
    print(name)
    print(email)

archana
archanaelisala@gmail.com
anu
archanaanu@gmail.com
chinnu
anuchinnu@gmail.com

## Tuples

In [63]:
tuple_ex=('Archana','Elisala','AnuChinnu','13481A0540','archanaelisala@gmail.com')
tuple_ex

('Archana', 'Elisala', 'AnuChinnu', '13481A0540', 'archanaelisala@gmail.com')

In [68]:
(fname,Lname,NName,Rollnum,email)=tuple_ex

In [74]:
Lname
email
print(Rollnum)

13481A0540

In [84]:
sample_data
data='{} {}'.format(sample_data.keys(),sample_data['chinnu'])
data

"dict_keys(['archana', 'anu', 'chinnu']) anuchinnu@gmail.com"

## Reading and writing CSV files:

In [89]:
import csv
with open('data.csv') as data:
    data1=list(csv.DictReader(data))
    print(type(csv.DictReader(data)))

<class 'csv.DictReader'>

In [93]:
print(len(data1))
print(type(data1))

3
<class 'list'>

In [95]:
data
print(data1[0].keys())

odict_keys(['Sally Whittaker', '2018', 'McCarren House', '312', '3.75'])

In [92]:
data1

[OrderedDict([('Sally Whittaker', 'Belinda Jameson'),
              ('2018', '2017'),
              ('McCarren House', 'Cushing House'),
              ('312', '148'),
              ('3.75', '3.52')]),
 OrderedDict([('Sally Whittaker', 'Jeff Smith'),
              ('2018', '2018'),
              ('McCarren House', 'Prescott House'),
              ('312', '17-D'),
              ('3.75', '3.20')]),
 OrderedDict([('Sally Whittaker', 'Sandy Allen'),
              ('2018', '2019'),
              ('McCarren House', 'Oliver House'),
              ('312', '108'),
              ('3.75', '3.48')])]

## Time and Date

In [96]:
import time
import time as t
import datetime as dt
tm.time()

1562578924.6628125

In [97]:
d=dt.datetime.fromtimestamp(tm.time())
d

datetime.datetime(2019, 7, 8, 15, 16, 54, 844812)

In [103]:
d.year

2019

In [104]:
d.month

7

In [105]:
d.day

8

In [106]:
d.minute

16

In [109]:
d.second

54

In [110]:
## If I want to know the date of  50 days ago.
delayTime=dt.timedelta(days=50)
delayTime

datetime.timedelta(days=50)

In [111]:
todaydate=dt.date.today()
todaydate

datetime.date(2019, 7, 8)

In [112]:
todaydate.year

2019

In [113]:
todaydate.month

7

In [115]:
todaydate-delayTime

datetime.date(2019, 5, 19)

## Python Date and Time